<!DOCTYPE html>
<html data-ng-app="tabManager">
<head lang="en">
    <meta charset="UTF-8">
    <title>My Tabs</title>
    <script src="../assets/js/vendor/angularjs.min.js"></script>
    <script src="../assets/js/vendor/underscore.min.js"></script>
    <script src="../assets/js/tabManager.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/tabManager.css">
</head>
<body data-ng-controller="tabCtrl">
<div class="container">
    <div ng-hide="showLoader">
        <br>

        <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="search tabs by name/urls or enter search terms and click Google..." ng-model="query">

            <div class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="searchGoogle()">Google</button>
            </div>
        </div>
        <br>

        <button ng-click="closeAllTabs()" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Close All ({{tabs.length}}) Tabs
        </button>
        <button ng-click="openNewTab()" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            Open New Tab
        </button>
        <br/>
        <br/>

        <table class="table table-hover table-bordered">
            <tr ng-repeat="tab in tabs | filter:query">
                <td><img class="icon" ng-src="{{tab.favIconUrl}}" alt=""/></td>
                <td>
                    <button class="btn btn-sm btn-danger" ng-click="closeTab(tab.id)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
                <td ng-click="goToTab(tab.id)" style="word-wrap: break-word;width: 100px">
                    {{tab.title}}
                    <br>
                    <span>{{tab.url}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>